# Basic Python Practices

#### Exercise 00. Variable Declaration

Define the following variables with values of your choice:

- A variable that stores your name (text).
- A variable that stores your age (integer).
- A variable that indicates if you like programming (true or false).
- A variable that stores your average grade (decimal number).

In [ ]:
# Declare your variables here.
name = 'Cristina'
age = 38
likes_Programming = True
average_grade = 7,8

#Example
greeting = "Hello world"

- Create a list with your five favorite numbers and print it.

In [1]:
# Favorite numbers list
favorite_numbers=[3,9,15,21]
print(favorite_numbers)

[3, 9, 15, 21]

- Create a dictionary that stores a student's information and print it:

        - Name
        - Age
        - Final grade

In [2]:
#TODO
students_info = {
    'Name':'Leon',
    'Age' : 30,
    'Final grade': 8.1
}
print(students_info)

{'Name': 'Leon', 'Age': 30, 'Final grade': 8.1}

#### Exercise 01. Basic data analysis with native Python structures.  
Create a list with the grades of 5 students: [8.5, 9.2, 7.8, 8.9, 10].

- Calculate the average of the grades.

In [ ]:
# TODO
grade_students = [8.5, 9.2, 7.8, 8.9, 10.0]
average_grade = sum(grade_students)/ len(grade_students)

8.879999999999999

- Find the highest and lowest grade.

In [ ]:
# TODO
highest_grade = max(grade_students)
lowest_grade = min(grade_students)

10.0
7.8

# Real estate data cleaning with Pandas for efficient analysis

This is a real dataset that was downloaded using web scraping techniques. The data contains records from **Fotocasa**, one of the most popular real estate websites in Spain. Please do not perform web scraping unless it is for academic purposes.

The dataset was downloaded a few years ago by Henry Navarro, and no economic benefit was obtained from it.

It contains thousands of real house listings published on the website www.fotocasa.com. Your goal is to extract as much information as possible with the data science knowledge you have acquired so far.

Let's get started!

- First, let's read and explore the dataset.

In [2]:
import pandas as pd

# Leer el archivo CSV
ds = pd.read_csv('assets/real_estate.csv', sep=';') # Este archivo CSV contiene puntos y comas en lugar de comas como separadores
ds # mostramos todo
ds['address'] # mostramos las columnas

0        Calle Presidente Felipe Gonzalez, Arganda del Rey
1                         Calle Polvoranca, 6, Fuenlabrada
2                Calle Reyes Católicos, Boadilla del Monte
3                           Barrio San Andres, Fuenlabrada
4                                          Arganda del Rey
                               ...
15330                                       Madrid Capital
15331                               Velilla de San Antonio
15332                                         Torrelodones
15333                               Velilla de San Antonio
15334              Paseo de la Castellana,  Madrid Capital
Name: address, Length: 15335, dtype: object

- Display the first rows of the CSV file.

In [11]:
# TODO
ds_firstrow = ds.head(10)  # Muestra las primeras 10 filas del DataFrame
ds_firstrow

,Unnamed: 0,id_realEstates,isNew,realEstate_name,phone_realEstate,url_inmueble,rooms,bathrooms,surface,price,...,level4Id,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude,zipCode,customZone
0,1,153771986,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,103.0,195000,...,0,0,0,0,0,0,"40,2948276786438","-3,44402412135624",NaN,NaN
1,2,153867863,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,NaN,89000,...,0,0,0,0,0,1,"40,28674","-3,79351",NaN,NaN
2,3,153430440,False,look find boadilla,916350408.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,99.0,390000,...,0,0,0,0,0,0,"40,4115646786438","-3,90662252135624",NaN,NaN
3,4,152776331,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,86.0,89000,...,0,0,0,0,0,0,"40,2853785786438","-3,79508142135624",NaN,NaN
4,5,153180188,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,106.0,172000,...,0,0,0,0,0,0,"40,2998774864376","-3,45226301356237",NaN,NaN
5,6,153934794,False,expimad,912780412.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,1.0,70.0,315000,...,0,0,0,0,0,0,"40,53391","-3,89445",NaN,NaN
6,7,153848236,False,expimad,912780412.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,145.0,430000,...,0,0,0,0,0,0,"40,5105842135624","-3,89436578643763",NaN,NaN
7,8,153482331,False,expimad,912780412.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,1.0,95.0,275000,...,0,0,0,0,0,0,"40,53294","-3,89898",NaN,NaN
8,9,153885351,False,expimad,912780412.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,4.0,3.0,277.0,445000,...,0,0,0,0,0,0,"40,5363057864376","-3,89294421356237",NaN,NaN
9,10,153215459,False,modesta,NaN,https://www.fotocasa.es/es/comprar/vivienda/ma...,4.0,2.0,129.0,350000,...,0,0,0,0,0,0,"40,37502","-3,74391",NaN,NaN

Perfect, this was a small practice. Now let's begin with the real exercises!

#### Exercise 01. What is the most expensive house in the entire dataset? (★☆☆)

Print the address and price of the selected house. For example:

`The house located at Calle del Prado, Nº20 is the most expensive, and its price is 5000000 USD.`

In [20]:
# TODO
Most_expensive_property = ds.loc[ds['price'] == ds['price'].max()]
Most_expensive_property_texto = f"The house located at {Most_expensive_property.iloc[0]['address']}, is the most expensive, and its price is {Most_expensive_property.iloc[0]['price']} dólares USD."
print(Most_expensive_property_texto)

The house located at El Escorial, is the most expensive, and its price is 8500000 dólares USD.

#### Exercise 02. What is the cheapest house in the dataset? (★☆☆)

This exercise is similar to the previous one, except now we are looking for the house with the lowest price. Remember to print the address and price of the selected house. For example:

`The house located at Calle Alcalá, Nº58 is the cheapest, and its price is 12000 USD.`

In [4]:
# TODO
cheapest_property = ds.loc[ds['price']== ds['price'].min()]
cheapest_property_texto =  f'The house located at {cheapest_property.iloc[0]["address"]}, is the cheapest, and its price is {cheapest_property.iloc[0]["price"]} USD.'
print(cheapest_property_texto)

The house located at Parla, is the cheapest, and its price is 0 USD.

#### Exercise 03. What is the largest and smallest house in the dataset? (★☆☆)

Print the address and area of the selected houses. For example:

`The largest house is located at Calle Gran Vía, Nº38, and its area is 5000 square meters.`

`The smallest house is located at Calle Mayor, Nº12, and its area is 200 square meters.`

This exercise is similar to the previous one, but we are looking for the largest and smallest houses based on their area.

In [ ]:
# TODO

#### Exercise 04. How many unique populations are in the dataset? (★☆☆)

Count the number of unique populations in the 'level5' column and print the names of the populations separated by commas. For example:

`> print(populations)`

`population1, population2, population3, ...`

In [ ]:
# TODO

#### Exercise 05. Does the dataset contain null values (NAs)? (★☆☆)

Print a boolean (`True` or `False`) to check if there are null values, followed by the columns that contain NAs.

In [ ]:
# TODO

#### Exercise 06. Remove the null values (NAs) from the dataset, if applicable (★★☆)

After removing the null values, compare the size of the DataFrame before and after the removal.

In [ ]:
# TODO

#### Exercise 07. What is the average price in the population of "Arroyomolinos (Madrid)"? (★★☆)

Print the value obtained from the 'level5' column.

In [ ]:
# TODO

#### Exercise 08. Plot the histogram of prices for the population of "Arroyomolinos (Madrid)" and explain what you observe (★★☆)

Print the histogram of the prices and write a brief analysis of the plot in the Markdown cell.

In [ ]:
import matplotlib.pyplot as plt

# Plot the histogram of prices